In [1]:
import numpy as np
import pandas as pd
import networkx as nx
import osmnx as ox
ox.config(use_cache=True, log_console=True)
import warnings
warnings.filterwarnings('ignore')

from here_location_services import LS
import os
from here_location_services.config.matrix_routing_config import(WorldRegion, 
                                                                MATRIX_ATTRIBUTES, 
                                                                BoundingBoxRegion, 
                                                                AutoCircleRegion,)

In [2]:
LS_API_KEY = os.environ.get("LS_API_KEY")
ls= LS(api_key=LS_API_KEY)

In [3]:
place = {"city": "Wuerzburg", "country": "Germany"}
G = ox.graph_from_place(place, network_type = "drive")
Gs = ox.utils_graph.get_largest_component(G, strongly = True)
gdf_nodes, gdf_edges = ox.graph_to_gdfs(Gs)
nodes_df = gdf_nodes[["y", "x"]].copy()
nodes_df.columns = ["lat", "lng"]

sample_nodes_df = nodes_df.sample(n = 190, random_state= 3)
sample_nodes_df = sample_nodes_df.sort_values(by=["osmid"])
J = sample_nodes_df.index.values
sample_nodes_df

                  lat       lng
osmid
10799058    49.751452  9.926904
10799942    49.771879  9.940641
21273715    49.779945  9.937219
21287874    49.788421  9.952661
21287991    49.791405  9.996894
...               ...       ...
6034416208  49.791096  9.963971
6533691138  49.757266  9.945708
6895353620  49.813958  9.989616
6905414381  49.763987  9.945214
8321645412  49.772641  9.960118

[190 rows x 2 columns]

In [4]:
lat_DC = [49.7582904, 49.8610025, 49.8743879, 49.7726213, 49.7109099, 49.7682755, 49.7326234, 49.8113122, 49.7979646, 49.8109994]
lon_DC = [9.8039055, 9.8037194, 10.032524, 10.0631658, 10.0201193, 9.9394726, 9.9649484, 9.920716, 9.9426957, 9.9777457]
osmid = [283531080, 1312952369, 258899345, 28338982, 41891309, 36720636, 41891228, 148745748, 33171211, 21288066]

dc_tuples = list(zip(osmid, lat_DC, lon_DC))
set_of_all_DC = pd.DataFrame(dc_tuples, columns = ["osmid", "lat", "lng"])
set_of_all_DC.set_index("osmid", inplace=True)
I = set_of_all_DC.index.values
set_of_all_DC

                  lat        lng
osmid
283531080   49.758290   9.803906
1312952369  49.861002   9.803719
258899345   49.874388  10.032524
28338982    49.772621  10.063166
41891309    49.710910  10.020119
36720636    49.768276   9.939473
41891228    49.732623   9.964948
148745748   49.811312   9.920716
33171211    49.797965   9.942696
21288066    49.810999   9.977746

In [5]:
joined_set = pd.concat([set_of_all_DC, sample_nodes_df], sort = False)
testlol = joined_set.to_dict("records")
testlol

[{'lat': 49.7582904, 'lng': 9.8039055},
 {'lat': 49.8610025, 'lng': 9.8037194},
 {'lat': 49.8743879, 'lng': 10.032524},
 {'lat': 49.7726213, 'lng': 10.0631658},
 {'lat': 49.7109099, 'lng': 10.0201193},
 {'lat': 49.7682755, 'lng': 9.9394726},
 {'lat': 49.7326234, 'lng': 9.9649484},
 {'lat': 49.8113122, 'lng': 9.920716},
 {'lat': 49.7979646, 'lng': 9.9426957},
 {'lat': 49.8109994, 'lng': 9.9777457},
 {'lat': 49.7514519, 'lng': 9.926904},
 {'lat': 49.7718794, 'lng': 9.9406408},
 {'lat': 49.7799446, 'lng': 9.9372194},
 {'lat': 49.7884206, 'lng': 9.9526609},
 {'lat': 49.7914048, 'lng': 9.9968944},
 {'lat': 49.7903125, 'lng': 9.9307793},
 {'lat': 49.7865819, 'lng': 9.9317883},
 {'lat': 49.7789385, 'lng': 9.9497211},
 {'lat': 49.7847581, 'lng': 9.9679458},
 {'lat': 49.783327, 'lng': 9.9558405},
 {'lat': 49.7855924, 'lng': 9.930666},
 {'lat': 49.7800078, 'lng': 9.9324318},
 {'lat': 49.7794253, 'lng': 9.9349845},
 {'lat': 49.7778329, 'lng': 9.933309},
 {'lat': 49.7827376, 'lng': 9.9315833},
 {'lat': 49.7824495, 'lng': 9.934941},
 {'lat': 49.7764441, 'lng': 9.9430389},
 {'lat': 49.778628, 'lng': 9.9412721},
 {'lat': 49.7782761, 'lng': 9.9384668},
 {'lat': 49.796086, 'lng': 9.9346897},
 {'lat': 49.7751106, 'lng': 9.9555991},
 {'lat': 49.8097228, 'lng': 9.9777188},
 {'lat': 49.803697, 'lng': 9.97315},
 {'lat': 49.7815553, 'lng': 9.9432285},
 {'lat': 49.785017, 'lng': 9.9440758},
 {'lat': 49.7732534, 'lng': 9.9543809},
 {'lat': 49.7733913, 'lng': 9.9232261},
 {'lat': 49.7996586, 'lng': 9.9413227},
 {'lat': 49.7579921, 'lng': 9.9428478},
 {'lat': 49.7591994, 'lng': 9.9428648},
 {'lat': 49.764227, 'lng': 9.9446555},
 {'lat': 49.7579148, 'lng': 9.9708861},
 {'lat': 49.7457065, 'lng': 9.9586108},
 {'lat': 49.7776876, 'lng': 9.9492806},
 {'lat': 49.7766579, 'lng': 9.9522956},
 {'lat': 49.784551, 'lng': 9.9499179},
 {'lat': 49.7863806, 'lng': 9.9503851},
 {'lat': 49.7890273, 'lng': 9.9613978},
 {'lat': 49.7874951, 'lng': 9.9619452},
 {'lat': 49.7892531, 'lng': 9.9542577},
 {'lat': 49.7879784, 'lng': 9.9605765},
 {'lat': 49.7880267, 'lng': 9.9540967},
 {'lat': 49.799092, 'lng': 9.9496606},
 {'lat': 49.7936913, 'lng': 9.9525106},
 {'lat': 49.8079669, 'lng': 9.960921},
 {'lat': 49.8179929, 'lng': 9.9638009},
 {'lat': 49.7983863, 'lng': 9.9549245},
 {'lat': 49.7922448, 'lng': 9.9452135},
 {'lat': 49.793249, 'lng': 9.9492198},
 {'lat': 49.8213517, 'lng': 9.8783296},
 {'lat': 49.7860988, 'lng': 9.9451554},
 {'lat': 49.794972, 'lng': 9.9579992},
 {'lat': 49.7964873, 'lng': 9.9267504},
 {'lat': 49.7893324, 'lng': 9.9302937},
 {'lat': 49.8088995, 'lng': 9.9856334},
 {'lat': 49.8005097, 'lng': 9.9267771},
 {'lat': 49.7909729, 'lng': 9.9336917},
 {'lat': 49.8131443, 'lng': 9.981336},
 {'lat': 49.8041353, 'lng': 9.9706869},
 {'lat': 49.7923193, 'lng': 9.9301209},
 {'lat': 49.8008718, 'lng': 9.9911857},
 {'lat': 49.7994937, 'lng': 9.9376975},
 {'lat': 49.7960443, 'lng': 9.937991},
 {'lat': 49.7971613, 'lng': 9.9285321},
 {'lat': 49.7966187, 'lng': 9.9281405},
 {'lat': 49.8023919, 'lng': 9.9267689},
 {'lat': 49.803323, 'lng': 9.9319337},
 {'lat': 49.8122111, 'lng': 9.9855963},
 {'lat': 49.8082576, 'lng': 9.9736455},
 {'lat': 49.8110932, 'lng': 9.9794864},
 {'lat': 49.7712422, 'lng': 9.9017429},
 {'lat': 49.8026674, 'lng': 9.8989609},
 {'lat': 49.8012621, 'lng': 9.9084723},
 {'lat': 49.8053163, 'lng': 9.9572999},
 {'lat': 49.8034641, 'lng': 9.9510328},
 {'lat': 49.7756706, 'lng': 9.9037738},
 {'lat': 49.7825672, 'lng': 9.967088},
 {'lat': 49.763526, 'lng': 9.9385436},
 {'lat': 49.759512, 'lng': 9.9311946},
 {'lat': 49.7590117, 'lng': 9.931653},
 {'lat': 49.7601167, 'lng': 9.9389635},
 {'lat': 49.7586413, 'lng': 9.935494},
 {'lat': 49.7593755, 'lng': 9.9414103},
 {'lat': 49.8008658, 'lng': 9.9711669},
 {'lat': 49.7591151, 'lng': 9.9392626},
 {'lat': 49.7624838, 'lng': 9.9351643},
 {'lat': 49.7673693, 'lng': 9.9237723},
 {'lat': 49.8028149, 'lng': 9.9406013},
 {'lat': 49.8093998, 'lng': 9.8837065},
 {'lat': 49.7912473, 'lng': 9.9970804},
 {'lat': 49.8064097, 'lng': 9.9901229},
 {'lat': 49.8041357, 'lng': 9.9931752},
 {'lat': 49.7284808, 'lng': 9.9605352},
 {'lat': 49.7310668, 'lng': 9.9653721},
 {'lat': 49.7385383, 'lng': 9.9643105},
 {'lat': 49.7433438, 'lng': 9.9606923},
 {'lat': 49.8217476, 'lng': 9.9604353},
 {'lat': 49.7617436, 'lng': 9.9580291},
 {'lat': 49.8016688, 'lng': 9.9165769},
 {'lat': 49.7962068, 'lng': 9.9041165},
 {'lat': 49.7629995, 'lng': 9.9476674},
 {'lat': 49.7599737, 'lng': 9.9561964},
 {'lat': 49.7586412, 'lng': 9.9506167},
 {'lat': 49.7657755, 'lng': 9.9477996},
 {'lat': 49.7597401, 'lng': 9.9561354},
 {'lat': 49.7581076, 'lng': 9.9460324},
 {'lat': 49.7592833, 'lng': 9.9445739},
 {'lat': 49.7592863, 'lng': 9.9436269},
 {'lat': 49.7632906, 'lng': 9.9504425},
 {'lat': 49.7951102, 'lng': 9.9204931},
 {'lat': 49.794469, 'lng': 9.9227493},
 {'lat': 49.7657861, 'lng': 9.9213782},
 {'lat': 49.7915031, 'lng': 9.9097763},
 {'lat': 49.7954085, 'lng': 9.8957221},
 {'lat': 49.7209744, 'lng': 9.9649309},
 {'lat': 49.7350861, 'lng': 9.9553771},
 {'lat': 49.7376465, 'lng': 9.9631663},
 {'lat': 49.7384557, 'lng': 9.9653141},
 {'lat': 49.7397756, 'lng': 9.9621833},
 {'lat': 49.723504, 'lng': 9.9630702},
 {'lat': 49.7989597, 'lng': 9.9487798},
 {'lat': 49.7956692, 'lng': 9.965164},
 {'lat': 49.7998951, 'lng': 9.9866172},
 {'lat': 49.7994247, 'lng': 9.9796853},
 {'lat': 49.8046171, 'lng': 9.9842023},
 {'lat': 49.8241444, 'lng': 9.9252314},
 {'lat': 49.8236944, 'lng': 9.9222291},
 {'lat': 49.8218931, 'lng': 9.9232026},
 {'lat': 49.7252555, 'lng': 9.9715158},
 {'lat': 49.7188007, 'lng': 9.9644957},
 {'lat': 49.8046146, 'lng': 9.9421327},
 {'lat': 49.7862606, 'lng': 9.8993515},
 {'lat': 49.8057162, 'lng': 9.9545755},
 {'lat': 49.8058585, 'lng': 9.9532657},
 {'lat': 49.8075988, 'lng': 9.9603099},
 {'lat': 49.8039778, 'lng': 9.9471462},
 {'lat': 49.8083721, 'lng': 9.9658856},
 {'lat': 49.7639781, 'lng': 9.9452469},
 {'lat': 49.7722503, 'lng': 9.9174215},
 {'lat': 49.7258157, 'lng': 9.9707291},
 {'lat': 49.7237846, 'lng': 9.9718947},
 {'lat': 49.7211346, 'lng': 9.9710212},
 {'lat': 49.7195984, 'lng': 9.9633236},
 {'lat': 49.8172882, 'lng': 9.9613916},
 {'lat': 49.8190695, 'lng': 9.9600986},
 {'lat': 49.7666048, 'lng': 9.9225583},
 {'lat': 49.7669887, 'lng': 9.9122438},
 {'lat': 49.8269076, 'lng': 9.9209044},
 {'lat': 49.8260631, 'lng': 9.9204733},
 {'lat': 49.7992534, 'lng': 9.9431273},
 {'lat': 49.8027886, 'lng': 9.949895},
 {'lat': 49.8048215, 'lng': 9.9309215},
 {'lat': 49.7940794, 'lng': 9.9099899},
 {'lat': 49.7941284, 'lng': 9.9173586},
 {'lat': 49.7943739, 'lng': 9.8964907},
 {'lat': 49.7851492, 'lng': 9.9679565},
 {'lat': 49.7999736, 'lng': 9.9412117},
 {'lat': 49.8033844, 'lng': 9.9538511},
 {'lat': 49.8038757, 'lng': 9.8955112},
 {'lat': 49.8039417, 'lng': 9.8956475},
 {'lat': 49.8088512, 'lng': 9.9054463},
 {'lat': 49.7568831, 'lng': 9.9381741},
 {'lat': 49.7885844, 'lng': 9.9704345},
 {'lat': 49.829142, 'lng': 9.9216101},
 {'lat': 49.8119197, 'lng': 9.9752039},
 {'lat': 49.7681926, 'lng': 9.9371204},
 {'lat': 49.8112927, 'lng': 9.8855016},
 {'lat': 49.7598246, 'lng': 9.966283},
 {'lat': 49.7919796, 'lng': 9.9490378},
 {'lat': 49.7771422, 'lng': 9.9598061},
 {'lat': 49.8045645, 'lng': 9.9153598},
 {'lat': 49.8144082, 'lng': 9.91787},
 {'lat': 49.7768728, 'lng': 9.9238163},
 {'lat': 49.8135269, 'lng': 9.9560866},
 {'lat': 49.8139416, 'lng': 9.9561246},
 {'lat': 49.7236136, 'lng': 9.9641598},
 {'lat': 49.8184886, 'lng': 9.9845861},
 {'lat': 49.7514126, 'lng': 9.9811025},
 {'lat': 49.8089307, 'lng': 9.883331},
 {'lat': 49.808323, 'lng': 9.886186},
 {'lat': 49.7863873, 'lng': 9.9284833},
 {'lat': 49.7240005, 'lng': 9.9663372},
 {'lat': 49.8273016, 'lng': 9.9877996},
 {'lat': 49.7852405, 'lng': 9.9681568},
 {'lat': 49.7939744, 'lng': 9.9243764},
 {'lat': 49.7910959, 'lng': 9.9639707},
 {'lat': 49.7572663, 'lng': 9.9457081},
 {'lat': 49.8139584, 'lng': 9.989616},
 {'lat': 49.7639867, 'lng': 9.9452138},
 {'lat': 49.7726409, 'lng': 9.9601184}]

In [21]:
len(testlol)

200

In [213]:
testlolend = testlol[195:200]
testlolend

[{'lat': 49.7910959, 'lng': 9.9639707},
 {'lat': 49.7572663, 'lng': 9.9457081},
 {'lat': 49.8139584, 'lng': 9.989616},
 {'lat': 49.7639867, 'lng': 9.9452138},
 {'lat': 49.7726409, 'lng': 9.9601184}]

In [152]:
len(testlol150)

15

In [8]:
testlol100 = testlol[0:100]
len(testlol100)

100

In [9]:
testlol200 = testlol[100:200]
len(testlol200)

100

In [221]:
origins = testlolend
destinations = testlol200


region_definition = AutoCircleRegion()
matrix_attributes = [MATRIX_ATTRIBUTES.travelTimes]
result = ls.matrix(
origins=origins,
destinations = destinations,
region_definition=region_definition,
matrix_attributes=matrix_attributes,
async_req = True
)
result.matrix

{'numOrigins': 5,
 'numDestinations': 100,
 'travelTimes': [776,
  685,
  837,
  876,
  910,
  857,
  716,
  709,
  673,
  884,
  745,
  734,
  733,
  613,
  739,
  748,
  701,
  691,
  750,
  712,
  644,
  832,
  822,
  893,
  969,
  843,
  888,
  965,
  878,
  1097,
  356,
  154,
  596,
  464,
  614,
  908,
  896,
  887,
  990,
  989,
  479,
  774,
  472,
  497,
  416,
  469,
  521,
  679,
  725,
  1012,
  1053,
  1038,
  975,
  515,
  553,
  898,
  852,
  1122,
  1126,
  391,
  396,
  473,
  782,
  690,
  895,
  205,
  424,
  448,
  671,
  668,
  763,
  718,
  385,
  1170,
  612,
  443,
  780,
  705,
  197,
  457,
  719,
  935,
  720,
  522,
  539,
  977,
  445,
  888,
  871,
  718,
  461,
  946,
  526,
  219,
  620,
  0,
  764,
  564,
  679,
  522,
  1533,
  1442,
  653,
  692,
  538,
  441,
  1378,
  298,
  958,
  1104,
  234,
  147,
  86,
  314,
  152,
  15,
  223,
  201,
  210,
  876,
  808,
  670,
  1010,
  1117,
  608,
  576,
  544,
  601,
  502,
  750,
  957,
  978,
  1353,
  1239,
  1371,
  1697,
  1687,
  1549,
  761,
  628,
  1079,
  952,
  1134,
  1159,
  1078,
  1043,
  1183,
  237,
  705,
  783,
  737,
  705,
  614,
  1177,
  1215,
  727,
  832,
  1607,
  1611,
  926,
  1058,
  1078,
  961,
  854,
  1074,
  890,
  959,
  1110,
  1156,
  1153,
  1248,
  302,
  1097,
  1655,
  1274,
  490,
  1265,
  382,
  827,
  806,
  1204,
  1420,
  700,
  1184,
  1201,
  693,
  1107,
  447,
  1356,
  1203,
  735,
  685,
  1188,
  928,
  784,
  973,
  0,
  1226,
  237,
  852,
  542,
  451,
  1057,
  1096,
  1130,
  1077,
  656,
  929,
  748,
  959,
  965,
  954,
  953,
  833,
  959,
  968,
  921,
  911,
  970,
  932,
  844,
  1052,
  938,
  968,
  1189,
  1063,
  1108,
  1185,
  1098,
  1317,
  436,
  446,
  417,
  325,
  338,
  954,
  942,
  933,
  1210,
  1209,
  559,
  994,
  552,
  577,
  462,
  549,
  342,
  899,
  945,
  1232,
  1273,
  1258,
  1195,
  455,
  493,
  1118,
  1072,
  1202,
  1206,
  507,
  476,
  553,
  898,
  849,
  1011,
  612,
  540,
  528,
  751,
  748,
  843,
  938,
  792,
  1250,
  417,
  663,
  860,
  925,
  420,
  788,
  799,
  1015,
  940,
  462,
  479,
  1197,
  250,
  1108,
  951,
  798,
  681,
  1166,
  331,
  626,
  854,
  585,
  984,
  0,
  899,
  853,
  1303,
  1212,
  525,
  564,
  410,
  313,
  1148,
  278,
  728,
  874,
  201,
  190,
  189,
  186,
  195,
  204,
  157,
  147,
  206,
  646,
  578,
  582,
  780,
  887,
  480,
  448,
  416,
  473,
  374,
  622,
  727,
  748,
  1123,
  1009,
  1141,
  1467,
  1457,
  1319,
  633,
  500,
  849,
  722,
  904,
  929,
  848,
  813,
  953,
  135,
  475,
  655,
  609,
  577,
  486,
  947,
  985,
  648,
  602,
  1377,
  1381,
  696,
  828,
  848,
  731,
  624,
  844,
  660,
  729,
  880,
  926,
  923,
  1018,
  174,
  867,
  1425,
  1044,
  260,
  1035,
  278,
  597,
  576,
  974,
  1190,
  470,
  954,
  971,
  565,
  877,
  461,
  1126,
  973,
  505,
  557,
  958,
  698,
  554,
  743,
  220,
  996,
  0,
  622,
  1178,
  1087,
  821,
  860,
  894,
  841,
  1023,
  693,
  908,
  1086,
  729,
  718,
  717,
  597,
  723,
  732,
  685,
  675,
  734,
  858,
  790,
  816,
  992,
  1099,
  953,
  827,
  872,
  949,
  862,
  1081,
  657,
  623,
  998,
  884,
  1016,
  1215,
  1203,
  1194,
  974,
  973,
  779,
  920,
  779,
  804,
  723,
  743,
  828,
  663,
  709,
  996,
  1037,
  1022,
  959,
  822,
  860,
  882,
  836,
  1422,
  1426,
  626,
  703,
  773,
  943,
  836,
  1056,
  358,
  659,
  755,
  971,
  968,
  1063,
  702,
  523,
  1470,
  919,
  427,
  1080,
  689,
  512,
  118,
  1019,
  1235,
  704,
  829,
  846,
  961,
  752,
  872,
  1171,
  1018,
  607,
  930,
  833,
  354,
  766,
  544,
  748,
  871,
  663,
  0]}

In [222]:
mylist = result.matrix["travelTimes"]
np_array = np.array(mylist)
reshaped_array = np.reshape(np_array, (5,100))
mydf = pd.DataFrame(reshaped_array)
mydf

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,776,685,837,876,910,857,716,709,673,884,...,461,946,526,219,620,0,764,564,679,522
1,1533,1442,653,692,538,441,1378,298,958,1104,...,735,685,1188,928,784,973,0,1226,237,852
2,542,451,1057,1096,1130,1077,656,929,748,959,...,681,1166,331,626,854,585,984,0,899,853
3,1303,1212,525,564,410,313,1148,278,728,874,...,505,557,958,698,554,743,220,996,0,622
4,1178,1087,821,860,894,841,1023,693,908,1086,...,607,930,833,354,766,544,748,871,663,0

In [223]:
nn = np.concatenate((I,J), axis = None)
nn = nn.tolist()

In [224]:
cols = nn[100:200]
ix = nn[195:200]

In [225]:
my_df1 = mydf
my_df1.columns = cols
my_df1.index = ix
my_df1.rename_axis("osmid")
my_df1

,259485239,259637765,259846083,259846093,259846179,259846261,265894528,266382478,268022228,275593515,...,4574059744,4914899889,5301313588,5315548501,5409647214,6034416208,6533691138,6895353620,6905414381,8321645412
6034416208,776,685,837,876,910,857,716,709,673,884,...,461,946,526,219,620,0,764,564,679,522
6533691138,1533,1442,653,692,538,441,1378,298,958,1104,...,735,685,1188,928,784,973,0,1226,237,852
6895353620,542,451,1057,1096,1130,1077,656,929,748,959,...,681,1166,331,626,854,585,984,0,899,853
6905414381,1303,1212,525,564,410,313,1148,278,728,874,...,505,557,958,698,554,743,220,996,0,622
8321645412,1178,1087,821,860,894,841,1023,693,908,1086,...,607,930,833,354,766,544,748,871,663,0

In [226]:
my_df1.to_hdf("200_200.h5", mode= "w", key = "my_df1")

In [227]:
my_df1.to_csv("200_200.csv")